<footer class="site-footer">
  <p class="social">
    <a href="https://www.instagram.com/giy.eyear/" target="_blank" rel="noopener">instagram</a>
    <a href="https://www.youtube.com/@GangilYi/videos" target="_blank" rel="noopener">youtube</a>
    <a href="https://thisriver.bandcamp.com/" target="_blank" rel="noopener">bandcamp</a>
    <a href="https://soundcloud.com/thisriver" target="_blank" rel="noopener">soundcloud</a>
    <a href="https://www.openprocessing.org/user/139857/#sketches" target="_blank" rel="noopener">openprocessing</a>
    <a href="https://github.com/morfant/" target="_blank" rel="noopener">github</a>
    <a href="https://wrhome.super.site/" target="_blank" rel="noopener">weatherreport</a>
    <a href="https://myselfapainter.super.site/" target="_blank" rel="noopener">myself-a-painter</a>
    <a href="https://morfant.github.io/self-taught/" target="_blank" rel="noopener">self-taught</a>
  </p>
  <p class="contact"><a href="mailto:giy.hands@gmail.com">giy.hands@gmail.com</a></p>
</footer>
